<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
        <script type="text/javascript">
            ShopifyApp.init({
                apiKey: '<%= apiKey %>',
                shopOrigin: 'https://<%= shop %>'
            });
        </script>
    </head>
    <body>
        <div id="root"><%- app %></div>
        <script src="/scripts/bundle.js"></script>
    </body>
</html>
