@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

/* Displays for HTML 5 */
article, aside, audio, command, datagrid, details, dialog, embed, 
figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
video, wbr {
	display: block;
}

bdi, figcaption, keygen, mark, meter, progress, rp, rt, ruby, time {
	display: inline;
}

/* Deprecated tags */
acronym, applet, big, center, dir, font, frame, frameset, noframes, s,
strike, tt, u, xmp {
	display: none;
}

/* Reset styles for all structural tags */
a, abbr, area, article, aside, audio, b, bdo, blockquote, body, button, 
canvas, caption, cite, code, col, colgroup, command, datalist, dd, del, 
details, dialog, dfn, div, dl, dt, em, embed, fieldset, figure, form,
h1, h2, h3, h4, h5, h6, head, header, hgroup, hr, html, i, iframe, img, 
input, ins, keygen, kbd, label, legend, li, map, mark, menu, meter, nav,
noscript, object, ol, optgroup, option, output, p, param, pre, progress,
q, rp, rt, ruby, samp, section, select, small, span, strong, sub, sup, 
table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
	background: transparent;
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
	z-index: 1;
}

/* Miscellaneous resets */
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;

}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #5a9cb4;
    opacity: 1;
}

:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #5a9cb4;
}

::-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #5a9cb4;
}

*:focus {
    outline: 0;
}

.clear_both {
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    padding: 22px 0 18px 0;
    background-color: #0084b4;
}

.logo {
    height: 88px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spaced {
    padding-top: 19px;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 16px;
    margin-right: -16px;
    text-align: center;
    color: #fff;
}

.foo-not-sticky {
    width: calc(100% - 44px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    height: 88px;
    margin-left: 22px;
    padding-bottom: 22px;
    background-color: #ff0000;
    position: relative;
}

.foo-sticky {
    width: calc(100% - 44px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    height: 88px;
    margin-left: 22px;
    padding-bottom: 22px;
    background-color: #ff0000;
    position: fixed;
    top: 0;
}

.container {
    width: calc(100% - 44px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    margin-top: 22px;
    margin-left: 22px;
    padding-bottom: 22px;
    /*background-color: #ff0000;*/
}

.balance-container {
    /* Display & Box Model */
    width: calc(100% - 88px);
    width: -moz-calc(100% - 88px);
    width: -webkit-calc(100% - 88px);
    height: 88px;
    border: 1px solid #0084b4;
    border-radius: 3px;
    margin-top: 22px;
    margin-left: 44px;

    /* Color */
    background-color: #c9f0ff;
}

.col-W88-H88 {
    width: 88px;
    height: 88px;
    float: left;
}

.col-WMIN176-H88 {
    float: left;
    width: calc(100% - 176px);
    height: 88px;
}

.button-balance-alter {
    /* Display & Box Model */
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 2px;

    /* Color */
    background-color: #0084b4;

    /* Transition */
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;

    /* Other */
    cursor: pointer;
}

.button-balance-alter:hover {
    background-color: #80dbff;
}

.button-balance-alter:active {
    box-shadow: inset 0 0 22px #fff;
    -moz-box-shadow: inset 0 0 22px #fff;
    -webkit-box-shadow: inset 0 0 22px #fff;
}

.button-balance-decrease {
    background-image: url('/icons/icon-decrease-64.png');
    background-repeat: no-repeat;
    background-position: center;
}

.button-balance-decrease:hover {
    background-image: url('/icons/icon-decrease-64-hover.png');
}

.button-balance-increase {
    background-image: url('/icons/icon-increase-64.png');
    background-repeat: no-repeat;
    background-position: center;
}

.button-balance-increase:hover {
    background-image: url('/icons/icon-increase-64-hover.png');
    background-repeat: no-repeat;
    background-position: center;
}

#navigation-container {
    width: 572px;
    height: 44px;
    margin-top: 22px;
    margin-right: auto;
    margin-left: auto;
}

.navigation-element-container {
    width: 176px;
    height: 44px;
    float: left;
    margin-right: 22px;
}

.button-navigation {
    /* Display & Box Model */
    width: 100%;
    height: 100%;
    border: 1px solid #0084b4;
    border-radius: 3px;

    /* Color */
    background-color: #fff;
    color: #0084b4;

    /* Text */
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;

    /* Other */
    cursor: pointer;
}

.button-navigation-selected {
    /* Color */
    background-color: #0084b4;
    color: #80dbff;
}

.button-navigation-selected-tooltip {
    position: absolute;
    margin-left: 77px;
}

.no-margin {
    margin: 0;
}

.button-wrapper {
    margin-top: 200px;
    margin-left: 200px;
    width: 276px;
    height: 44px;
}

.button-neutral-outline {
    height: 100%;
    width: 100%;
    background-color: #5a9cb4;
    border-radius: 3px;
    border-width: 0;
    border-style: solid;
}

.button-neutral {
    cursor: pointer;
    height: calc(100% - 2px);
    height: -moz-calc(100% - 2px);
    height: -webkit-calc(100% - 2px);
    width: calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    width: -webkit-calc(100% - 2px);
    margin-left: 1px;
    margin-top: 1px;
    border-color: #406f80;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    background-color: #005c80;
    color: #80dbff;
    font-size: 16px;
    font-weight: 600;

    /* Transition */
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
}

.button-neutral:hover {
    background-color: #80dbff;
    color: #005c80;
}

.button-neutral:active {
    background-color: #80dbff;
    color: #005c80;
    box-shadow: inset 0 0 22px #406f80;
    -moz-box-shadow: inset 0 0 22px #406f80;
    -webkit-box-shadow: inset 0 0 22px #406f80;
}

.balance {
    color: #005c80;
    line-height: 88px;
    text-align: center;
    font-weight: 300;
    font-size: 48px;
}

.vendor-container {
    width: 100%;
    margin-top: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #0084b4;
    border: 0 solid;
    border-radius: 3px;
}

.vendor-name {
    margin-top: -3px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #80dbff;
}

.something {
    width: calc((100% - 66px)/2);
    width: -moz-calc((100% - 66px)/2);
    width: -webkit-calc((100% - 66px)/2);
    margin-top: 18px;
    margin-left: 22px;
    float: left;
    height: 44px;
}

.input-neutral-outline {
    height: 100%;
    width: 100%;
    background-color: #5a9cb4;
    border-radius: 3px;
    border-width: 0;
    border-style: solid;
}

.input-neutral {
    width: calc(100% - 4px - 33px);
    width: -moz-calc(100% - 4px - 33px);
    width: -webkit-calc(100% - 4px - 33px);
    height: calc(100% - 4px);
    height: -moz-calc(100% - 4px);
    height: -webkit-calc(100% - 4px);
    margin-left: 1px;
    margin-top: 1px;
    padding-left: 33px;
    background-color: #fff;
    border: 1px solid #005c80;
    border-radius: 2px;

    /* Color */
    color: #005c80;

    /* Transition */
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
}

.input-neutral:focus {
    border-color: #80dbff;
}

.vendor-sync-container {
    width: calc(100% - 44px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    height: 44px;
    margin-top: 22px;
    margin-left: 22px;
}

.button-neutral-outline {
    height: 100%;
    width: 100%;
    background-color: #5a9cb4;
    border-radius: 3px;
    border-style: solid;
}

.button-neutral {
    cursor: pointer;
    height: calc(100% - 2px);
    height: -moz-calc(100% - 2px);
    height: -webkit-calc(100% - 2px);
    width: calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    width: -webkit-calc(100% - 2px);
    margin-left: 1px;
    margin-top: 1px;
    border-color: #406f80;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    background-color: #005c80;
    color: #80dbff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.button-neutral:hover {
    background-color: #80dbff;
    color: #005c80;
}

.button-neutral:active {
    background-color: #80dbff;
    color: #005c80;
    box-shadow: inset 0 0 22px #406f80;
    -moz-box-shadow: inset 0 0 22px #406f80;
    -webkit-box-shadow: inset 0 0 22px #406f80;
}

.vendor-notice-not-synced {
    /* Display & Box Model */
    width: calc(100% - 44px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    height: 44px;
    border: 0 solid;
    border-radius: 22px;
    margin-top: 22px;
    margin-left: 22px;

    /* Color */
    background-color: #b40000;
    color: #ff8080;

    /* Text */
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}

.vendor-notice-synced {
    /* Display & Box Model */
    width: calc(100% - 44px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    height: 44px;
    border: 0 solid;
    border-radius: 22px;
    margin-top: 22px;
    margin-left: 22px;

    /* Color */
    background-color: #008000;
    color: #80ff80;

    /* Text */
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}

.vendor-image-syncing {
    /* Display & Box Model */
    display: block;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: -2px;
    margin-left: auto;

    /* Animation */
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.vendor-notice-syncing {
    /* Display & Box Model */
    width: calc(100% - 44px);
    width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    height: 44px;
    border: 1px solid #5a9cb4;
    border-radius: 3px;
    margin-top: 22px;
    margin-left: 22px;

    /* Color */
    color: #80dbff;

    /* Text */
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}
